body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav{
  
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding : 5px;
  

}


.navScroll{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 15px 30px rgba(126, 126, 126, 0.291);
  background : #fff;
  transition: all 0.8s ease-in-out;
  
}

nav > .Logo {
display : flex;
flex-direction: row;
gap: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
padding-left: 10px;


}


.Logo >  img{
  width : 50px;
  
}


.ListNav > ul,li{
  display:inline-block;
  list-style: none;
  padding-right: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}


.header{
  
  width: 100%;
  height: auto;
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}

.HeaderText{

  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-break: break-all;
}

.HeaderText > p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
}

.HeaderText > h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 49px;
line-height: 60px;
}

.HeaderText > img{
  width : 50px
}

.header > img{
  width : auto;
  height : auto;
}

.typing{
color: green;
word-break: break-all;
font-size : 20px

}


.SearchDiv{
 margin-top : 100px;
 margin-bottom : 100px;
  width: 30rem;
  height:auto;
  margin-left: auto;
  margin-right: auto
}

 .search{
  width: 99%;
  padding: 10px;
  background: #FFFFFF;
box-shadow: 0px 15px 30px rgba(126, 126, 126, 0.291);
border-radius: 65px;
text-align: center;
border: 1px solid white;
}

.search:focus{
  outline: none;
}






main{
  border: 3px solid black;
  width: 76rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}